body{
  background-color: #f5f5f5;
}

/* Styles for the buttons */
button,
input[type="submit"] {
  background-color: #8e2e64;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* Styles for the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
    width: 30%;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #670a3f;
  color: white;
}

/* Styles for the forms */
form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

/* Styles for the headings */
h1, h2, h3 {
  color: #3f0626;
}

.byId{
  color: #9f1a66;
}

/* Styles for the container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles for the buttons */
button,
input[type="submit"] {
  background-color: #af4c84;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
  background-color: #bc558f;
}

button:active,
input[type="submit"]:active {
  background-color: #a8447d;
}

button:focus,
input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 5px #bd508e;
}

button.secondary,
input[type="submit"].secondary {
  background-color: #008CBA;
}

button.secondary:hover,
input[type="submit"].secondary:hover {
  background-color: #007A8B;
}

button.secondary:active,
input[type="submit"].secondary:active {
  background-color: #00647B;
}

button.secondary:focus,
input[type="submit"].secondary:focus {
  outline: none;
  box-shadow: 0 0 5px #008CBA;
}